body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.container-nopad {
  width: 1146px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-navigation {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
}
.main-navigation .container {
  display: flex;
  justify-content: space-between;
}
.main-navigation-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  margin-right: 5px;
}
.site-navigation,
.user-navigation,
.site-navigation-inner {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
}
.user-navigation-all {
  display: flex;
  justify-content: flex-end;
  width: 280px;
  margin-left: auto;
}
.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 8px 14px;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 23px;
}
.site-navigation-inner a {
  background-color: #f7f6f3;
  color: #000000;
  font-weight: 400;
  text-decoration:none;

  display: inline-block;
  margin: 0;
  width: 144px;
  padding-left:20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 0;
  box-sizing: border-box;
}
.site-navigation-current {
  background-color: #d07058;
  display: inline;
}
.activity {
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #f7f6f3;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #000000;
  text-decoration:none;
  border-radius: 20px;
}
.site-navigation-inner a:hover,
.site-navigation-inner a:focus {
  background-color: #fbded7;
  border-radius: 0;
}
.site-navigation-inner a:active {
  background-color: #f6b5a5;
}
.site-navigation a:active {
  box-shadow: 0 1px  3px #6a6b6b inset;
}
.catalog-new-items a {
  font-weight: 700;
}
.site-navigation-inner  li:last-child a {
  border-radius: 0 0 7px 7px;
  padding-bottom: 15px;
}
.site-navigation-inner .catalog-new-items a {
  border-radius: 7px 7px 0 0 ;
  padding-top: 15px;
  padding-bottom: 0;
}
.catalog-new-items span {
  display: block;
  width: 115px;
  height: 1px;
  background-color: #d1d0ce;
  margin-top: 13px;
  margin-left: -5px;
}
a.catalog-popup:hover ~ .transition {
  display: block;
}
.user-navigation-search:hover ~ .transition {
  display: block;
}
.transition:hover {
  display: block;
}
.catalog-popup {
  position: relative;
}
.transition {
  padding-top: 10px;
  top: 51px;
  position: absolute;
  display: none;

  z-index: 10;
}
.site-navigation-inner {
  display: inline-block;
  border-radius: 10px;
  content: "";
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
}
.search a,
.login a,
.cart {
  color: #ffffff;
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.3);
}
.search a:hover,
.search a:focus,
.login a:hover,
.login a:focus,
.cart:hover,
.cart:focus {
  color: #000000;
  background-color: #f8f7f4;
}
.search a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.user-navigation {
  position: relative;
  margin-right: 10px;
}
.search a:hover path,
.search a:focus path {
  fill: #000000;
}
.user-navigation .search-form {
  width: 310px;
  height: 43px;
  background-color: #f8f7f4 ;
  padding: 20px 15px;
  border-radius: 5px;
  content: "";
  position: absolute;
  right: -30px;
  top: 10px;
  display: none;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.6);
}
.search-form input {
  width: 310px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  box-sizing: border-box;
}
.search:hover .search-form,
.search:hover .transition {
  display: block;
}
a.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 7px;
  position: relative;
}
.entry svg {
  margin-right: 9px;
}
.entry path {
  fill: #ffffff;
}
.entry + .transition {
  right: 1px;
}
.entry:hover path,
.entry:focus path,
.entry:active path {
  fill: #000000;
}
.login form {
  width: 240px;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px 20px ;
  content: "";
  top: 10px;
  right: -90px;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.6);
}
.login p {
  padding: 0;
  margin: 0;
}

.login input {
  width: 240px;
  height: 45px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
a.restore,
a.new-registration {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  background-color: transparent;
}
a.restore:hover,
a.new-registration:hover {
  color: #e84d37;
  text-decoration: underline;
}
p.entry-support {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  margin-left: 15px ;
}
.entry:hover ~ .transition {
  display: block;
}
a.entry:hover ~ .transition .login-form {
  display: block
}
.transition:hover form {
  display: block
}
a.cart {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 19px;
  margin-right: 0;
  padding: 6px 16px;
  margin-top: 23px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart svg {
  margin-right: 9px;
}
.cart:hover path {
  fill: #000000;
}
.site-navigation-current {
  margin-top: 23px;
  vertical-align: middle;
  padding: 8px 14px;
  border-radius: 25px;
  max-height: 19px;
}
.activity-cart {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 5px;
  content: "";
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.5);
  padding-top: 13px;
}
a.activity {
  color: #323232;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 13px;
  margin-top: 23px;
  border-radius: 25px;
  max-height: 16px;
  position: relative;
}

a.activity + .transition {
  right: 1px;
}

.activity svg {
  padding-right: 6px;
}

.cart-items a:first-child{
  font-size: 0;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.cart-container {
  background-color: #f8f7f4;
  padding-left: 15px;
  padding-right: 15px;
}
.cart-items {
  width: 510px;
  border-bottom: 1px solid #cacac7;
  padding-bottom: 6px;

}
.cart-items img {
  border-radius: 25px;
  margin-top: 5px;
}
.cart-items p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.cart-items td:first-child {
  width: 10px;
}
.cart-items td:nth-child(2) {
  width: 45px;
}
.cart-items td:nth-child(3) {
  width: 240px;
}
.cart-items td:nth-child(4) {
  width: 105px;
  vertical-align: top;
}
.cart-items td:nth-child(5) {
  width: 60px;
  vertical-align: top;
}
.cart-price {
  color: #999999;
}
.cart-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-bill {
  padding-right: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.activity-cart .button {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-top: 10px;
  text-decoration: none;
}
.activity-cart .button:hover,
.activity-cart .button:active {
  color: #ffffff;
}

.activity:hover ~ .transition {
  display: block;
}
.transition:hover section.activity-cart {
  display: block;
}
.activity-cart:hover {
  display: block;
}

.top-info {
  display: flex;
  justify-content: space-between;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  width: 250px;
}
.breadcrumbs li {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  padding-right: 20px;
  position: relative;
}
.breadcrumbs li::after {
 content: "»";
  position: absolute;
  top: 0;
  right: 7px;
}
.breadcrumbs li:last-child {
  padding-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}
.breadcrumbs a {
  color: #ffffff;
  font: inherit;
  text-decoration: underline;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}
.opening-hours {
  text-align: right;
  width: 170px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-left: auto;
}
.opening-hours span {
  font-size: 22px;
  line-height: 24px;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}
.site-wrapper {
  transition: background-image 0.5s ease,
  background-color 0.5s ease;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.site-wrapper-inner {
  background: linear-gradient(to top, #849d8f, #9db1a5);

}
.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  margin-bottom: 45px;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slider .button {
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  border-radius: 50px;
}
.slider-controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
/* сортировка*/
.sort-container {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  width: 880px;
}
.sort-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 40px;
}
.form-sort-select {
  width: 195px;
}
.form-sort-select select {
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 50px;
  border: none;
  /*Отмена стандартного отображения селекта*/
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;

  background-image: url("../img/select-arrow.svg");
  background-position: 165px 13px;
  background-repeat: no-repeat;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.form-sort-select option {
  color: #000000;
}
.form-sort-select select:hover {
  color: #353535;
}
.sort-form-fat,
.sort-form-filler {
  min-width: 415px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 15px;
}
.sort-form-fat li,
.sort-form-filler li {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 30px;
}
.sort-form-fat label,
.sort-form-filler label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #353535;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  background: none;
}
.filter-input-radio + label::before{
  content: "";
  position: absolute;
  left: -33px;
  top: -3px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -33px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.sort-form-filler {
  min-width: 700px;
}
.sort-form-price {
  width: 190px;
  margin-right: 15px;
  margin-left: 15px;
}
.sort-price {
  margin: 0;
  padding: 0;
  border: none;
}
.range-controls {
  position: relative;
  height: 20px;
  padding-top: 16px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}
.range-controls .scale {
  height: 4px;
  background: #d7dcde;
  width: 148px;
  margin-left: 20px;

}
.range-controls .bar {
  width: 60%;
  height: 4px;
  margin-left: 15px;
  background:rgba(255,255,255,0.8);
}
.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 32px;
}

.range-controls .toggle-max {
  left: 125px;
}

.sort-stylization {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}
.sort-headline {
  margin-bottom: 5px;
  margin-left: 15px;
}
.form-sort-select label {
  display: inline-block;
}
.button-sort {
  display: block;
  padding: 7px 20px;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.2);
  border:2px solid #fbfcfb;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
}
.button-sort:hover {
  background-color: #fbfcfb;
  color: #353535;
}
.button-sort:active {
  padding: 9px 22px;
  border: none;
  background-color: #fbfcfb;
  color: #353535;
  box-shadow: inset 1px 2px 3px #6a6b6a;

}

.product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

.product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

.product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}
#product-1:checked ~ .site-wrapper .slider #slide1,
#product-2:checked ~ .site-wrapper .slider #slide2,
#product-3:checked ~ .site-wrapper .slider #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.store-description {
  color: #000000;
  background-color: #f2e8d2;
  background-image: url("../img/pattern-vafer.jpg");
  background-position: top center;
  background-repeat: repeat;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
}
.store-description ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}
.store-description li {
  width: 480px;
  max-height: 100px;
  margin-bottom: 10px;
  padding-left: 60px;
  padding-right: 23px;
  padding-top: 10px;

}
.store-description li {
  background-repeat: no-repeat;
  background-size: 49px 49px;

}

.store-description-ice-cream {
  background-image: url("../img/ice-cream.svg");
}
.store-description-farm {
  background-image: url("../img/cow.svg");
}
.store-description-eco  {
  background-image: url("../img/eco.svg");
}
.store-description-temperature  {
  background-image: url("../img/thermometer.svg");
}
.store-description h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 12px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blog-article {
  color: #323232;
  width: 540px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/fon-strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding-left: 20px;
}
.blog-article p {
  margin-top: 20px;
  margin-bottom: 10px;

}
.blog-article a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}
.blog-article h3 {
  width: 275px;
  margin-top: 0;
}
.blog-article a:hover,
.blog-article a:focus,
.blog-article a:active {
  color: #e84d37;
}
.rasp {
  background-image: url("../img/fon-raspberry.jpg");
  background-repeat: no-repeat;
}
.choco {
  background-image: url("../img/fon-chocolate.jpg");
  background-repeat: no-repeat;
}
.offer-article {
  color: #ffffff;
}
.offer-article h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  width: auto;
}
.offer-article p {
  font-size: 18px;
  width: 520px;
  margin-bottom: 35px;
}
.offer-article .button {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 20px;
  float: right;
}
.offer-article .button:focus,
.offer-article .button:hover,
.offer-article .button:active {
  color: #ffffff;
}
.subscription {
  font-weight: 400;
  color: #5a5a5a;
  width: 550px;
  background-color: #f8f7f4;
  background-image: url("../img/pattern-mail.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  padding:  5px;
}
.subscription-content {
  height: 100%;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 15px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.subscription-description {
  margin: 0;
  margin-bottom: 35px;
}
.subscription input {
  box-sizing: border-box;
  width: 365px;
  height: 44px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 10px;
}
.subscription .button {
  padding: 11px 19px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.catalog-item {
  width: 267px;
  position: relative;
  padding-left: 10px;
  height: 353px;
  padding-right: 9px;
  padding-top: 5px;
}

.catalog-item img  {
  border-radius: 50% ;
}
.price-img-catalog {
  position: absolute;
  top: -6px;
  display: block;
}
.catalog-item:hover .price-img-catalog {
  z-index: 11;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item h3 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: absolute;
  top: 280px;
  z-index: 11;
}
.catalog-item h3 a {
  color: #ffffff;
  text-decoration: underline;
}
.catalog-item h3 a:hover,
.catalog-item h3 a:focus,
.catalog-item h3 a:active {
  color: #ffbc9e;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  z-index: 10;
  position: absolute;
  content: "";
  top: 210px;
  text-shadow: 2px 2px 10px #5a5a5a;
}
.catalog-item-price span {
  font-size: 22px;
  text-shadow: 2px 2px 10px #5a5a5a;
}

.catalog-item .wrapper {
  display: none;
  position: absolute;
  height: 400px;
  width: 285px;
  top: 2px;
  left: 2px;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 5px;
}

.catalog-item .wrapper .button {
  margin-top: 325px;
}

.catalog-item:hover .wrapper {
  display: block;
}
.catalog-index {
  margin-bottom: 15px;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  line-height: 18px;
  list-style: none;
  position: relative;
}
.pagination-item {

}
.pagination-item:last-child {

}
.pagination-item a {
  display: block;
  padding: 6px 10px;
  border-radius: 50%;
  color: #ffffff;

}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: rgba(255, 255, 255, 0.3);
}
.pagination-item a:active {
  color: #000000;
  background-color: #ffffff;
}
.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}
.first-pagination::before {
  content: "<";
  position: absolute;
  top: 5px;
  right: 190px;
  font-size: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.3);
}
.pagination-list li:last-child {
  margin-right: 30px;
}
.pagination-list li:last-child::after {
  content: ">";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 30px;
  font-weight: 100;
}
.hit {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}
.button {
  display: inline-block;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to top,#e74b36, #f26843);
  border:none;
  border-radius: 25px;
  text-decoration: none;
  border-bottom: 1px solid #9e4334 ;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: linear-gradient(to top,#ec6f5e, #f58669);
}
.button:active {
  background: linear-gradient(to top,#e1613e, #d84732);
  border-bottom: none;
  border-top: 1px solid #952718;
}

input,
textarea {
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover {
  border: 2px solid #c7c6c5;
}
.main-footer {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 40px;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
}
.footer-social  {
  width: 190px;
  margin-right: 210px;
  margin-top: 10px;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;

  color: #ffffff;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.social-button:hover {
  opacity: 1;
}
.main-contacts {
  margin-bottom: -47px;
  margin-left: -27px;
  margin-right: -27px;
  position: relative;
}
.main-contacts iframe {
  position: relative;
  z-index: 2;
  border: none;
}
.main-contacts a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-contacts-card {
  width: 252px;
  background-color: #fdfefe;
  color: #323232;
  padding: 30px 25px ;
  border-radius: 5px;

  position: absolute;
  z-index: 2;
  content: "";
  top: 65px;
  right: 27px;
}
.main-contacts-info {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-contacts-info span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.footer-documents {
  width: 330px;
}
.footer-documents p {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
a.heart {
  font-weight: 700;
  padding-left: 0;

}
.footer-documents a {
  max-width: 165px;
  padding-left: 23px;
  color: #ffffff;
  text-decoration: underline;
}
.heart:before {
  content: "";
  display: inline-block;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 15px;
  vertical-align: bottom;
}
a.heart {
  font-weight: 700;
  padding-left: 0;
}
.footer-copyright {
  width: 205px;
  margin-left: auto;
}
.footer-copyright a {
  color: #ffffff;
  text-decoration: underline;
}
.footer-copyright img {
  margin-left: auto;
  margin-right: auto;
}
.footer-copyright p {
  margin-top: 0;
}
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}
.feedback-form {
  color: #323232;
  position: fixed;
  top: 120px;
  left: 50%;
  width: 427px;
  margin-left: -230px ;
  padding-top: 15px ;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f8f7f4;
  display: none;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 30;
}
.feedback-form-pledge {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}
.feedback-form input {
  width: 270px;
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
}
.feedback-form textarea {
  box-sizing: border-box;
  padding: 12px;
  width: 427px;
  height: 155px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
.feedback-form-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}
.feedback-form-close::after {
  content: "";
  position: absolute;
  background-image: url("../img/cross-big.svg");
  width: 18px;
  height: 17px;
  top: 0;
  right: 0;
}
.feedback-form .button {
  float: right;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 29;
  display: none;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
